qualitified-crm-core/src/main/resources/data/schemas/custom.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:nxs="http://www.nuxeo.org/ecm/project/schemas/mgena-SANDBOX/account" xmlns:nxsv="http://www.nuxeo.org/ecm/schemas/core/validation/" xmlns:ref="http://www.nuxeo.org/ecm/schemas/core/external-references/" targetNamespace="http://www.nuxeo.org/ecm/project/schemas/mgena-SANDBOX/account">
  <!-- helper XSD definitions for list types -->
  <xs:complexType name="content">
    <xs:sequence>
      <xs:element name="encoding" type="xs:string"/>
      <xs:element name="mime-type" type="xs:string"/>
      <xs:element name="data" type="xs:base64Binary"/>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="length" type="xs:long"/>
      <xs:element name="digest" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="stringList">
    <xs:list itemType="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="doubleList">
    <xs:list itemType="xs:double"/>
  </xs:simpleType>
  <xs:simpleType name="dateList">
    <xs:list itemType="xs:date"/>
  </xs:simpleType>
  <xs:simpleType name="integerList">
    <xs:list itemType="xs:integer"/>
  </xs:simpleType>
  <xs:simpleType name="booleanList">
    <xs:list itemType="xs:boolean"/>
  </xs:simpleType>
  <xs:complexType name="blobList">
    <xs:sequence>
      <xs:element name="item" type="nxs:content" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="field" type="nxs:custom_fieldListType"/>
  <xs:complexType name="custom_fieldListType">
    <xs:sequence>
      <xs:element name="item" type="nxs:custom_fieldType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="custom_fieldType">
    <xs:sequence>
      <xs:element name="label" type="xs:string"/>
      <xs:element name="type" type="xs:string"/>
      <xs:element name="required" type="xs:boolean"/>
      <xs:element name="vocabularyName" type="xs:string"/>
      <xs:element name="fieldName" type="xs:string"/>
      <xs:element name="format" type="xs:string"/>
      <xs:element name="read" type="xs:boolean"/>
      <xs:element name="edit" type="xs:boolean"/>
      <xs:element name="hidden" type="xs:boolean"/>
      <xs:element name="readGroup" type="xs:string"/>
      <xs:element name="editGroup" type="xs:string"/>
      <xs:element name="hiddenGroup" type="xs:string"/>
      <xs:element name="multivalue" type="xs:boolean"/>
      <xs:element name="multiline" type="xs:boolean"/>
      <xs:element name="link" type="xs:boolean"/>
      <xs:element name="editable" type="xs:boolean"/>
      <xs:element name="showInResultList" type="xs:boolean"/>
      <xs:element name="copy" type="xs:boolean"/>
      <xs:element name="parentId" type="xs:string"/>
      <xs:element name="path" type="xs:string"/>
      <xs:element name="primaryType" type="xs:string"/>
      <xs:element name="column" type="xs:string"/>

    </xs:sequence>
  </xs:complexType>

  <xs:element name="stringField1" type="xs:string"/>
  <xs:element name="stringField2" type="xs:string"/>
  <xs:element name="stringField3" type="xs:string"/>
  <xs:element name="stringField4" type="xs:string"/>
  <xs:element name="stringField5" type="xs:string"/>
  <xs:element name="stringField6" type="xs:string"/>
  <xs:element name="stringField7" type="xs:string"/>
  <xs:element name="stringField8" type="xs:string"/>
  <xs:element name="stringField9" type="xs:string"/>
  <xs:element name="stringField10" type="xs:string"/>
  <xs:element name="stringField11" type="xs:string"/>
  <xs:element name="stringField12" type="xs:string"/>
  <xs:element name="stringField13" type="xs:string"/>
  <xs:element name="stringField14" type="xs:string"/>
  <xs:element name="stringField15" type="xs:string"/>
  <xs:element name="stringField16" type="xs:string"/>
  <xs:element name="stringField17" type="xs:string"/>
  <xs:element name="stringField18" type="xs:string"/>
  <xs:element name="stringField19" type="xs:string"/>
  <xs:element name="stringField20" type="xs:string"/>


  <xs:element name="vocabularyField1" nillable="false" nxsv:nillable="false">
    <xs:simpleType>
      <xs:restriction base="xs:string" ref:resolver="directoryResolver"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="vocabularyField2" nillable="false" nxsv:nillable="false">
    <xs:simpleType>
      <xs:restriction base="xs:string" ref:resolver="directoryResolver"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="vocabularyField3" nillable="false" nxsv:nillable="false">
    <xs:simpleType>
      <xs:restriction base="xs:string" ref:resolver="directoryResolver"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="vocabularyField4" nillable="false" nxsv:nillable="false">
    <xs:simpleType>
      <xs:restriction base="xs:string" ref:resolver="directoryResolver"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="vocabularyField5" nillable="false" nxsv:nillable="false">
    <xs:simpleType>
      <xs:restriction base="xs:string" ref:resolver="directoryResolver"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="vocabularyField6" nillable="false" nxsv:nillable="false">
    <xs:simpleType>
      <xs:restriction base="xs:string" ref:resolver="directoryResolver"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="vocabularyField7" nillable="false" nxsv:nillable="false">
    <xs:simpleType>
      <xs:restriction base="xs:string" ref:resolver="directoryResolver"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="vocabularyField8" nillable="false" nxsv:nillable="false">
    <xs:simpleType>
      <xs:restriction base="xs:string" ref:resolver="directoryResolver"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="vocabularyField9" nillable="false" nxsv:nillable="false">
    <xs:simpleType>
      <xs:restriction base="xs:string" ref:resolver="directoryResolver"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="vocabularyField10" nillable="false" nxsv:nillable="false">
    <xs:simpleType>
      <xs:restriction base="xs:string" ref:resolver="directoryResolver"/>
    </xs:simpleType>
  </xs:element>

  <xs:element name="userField1" type="xs:string"/>
  <xs:element name="userField2" type="xs:string"/>
  <xs:element name="userField3" type="xs:string"/>
  <xs:element name="userField4" type="xs:string"/>
  <xs:element name="userField5" type="xs:string"/>
  <xs:element name="userField6" type="xs:string"/>
  <xs:element name="userField7" type="xs:string"/>
  <xs:element name="userField8" type="xs:string"/>
  <xs:element name="userField9" type="xs:string"/>
  <xs:element name="userField10" type="xs:string"/>

  <xs:element name="doubleField1" type="xs:double"/>
  <xs:element name="doubleField2" type="xs:double"/>
  <xs:element name="doubleField3" type="xs:double"/>
  <xs:element name="doubleField4" type="xs:double"/>
  <xs:element name="doubleField5" type="xs:double"/>
  <xs:element name="doubleField6" type="xs:double"/>
  <xs:element name="doubleField7" type="xs:double"/>
  <xs:element name="doubleField8" type="xs:double"/>
  <xs:element name="doubleField9" type="xs:double"/>
  <xs:element name="doubleField10" type="xs:double"/>

  <xs:element name="dateField1" type="xs:date"/>
  <xs:element name="dateField2" type="xs:date"/>
  <xs:element name="dateField3" type="xs:date"/>
  <xs:element name="dateField4" type="xs:date"/>
  <xs:element name="dateField5" type="xs:date"/>
  <xs:element name="dateField6" type="xs:date"/>
  <xs:element name="dateField7" type="xs:date"/>
  <xs:element name="dateField8" type="xs:date"/>
  <xs:element name="dateField9" type="xs:date"/>
  <xs:element name="dateField10" type="xs:date"/>
  <xs:element name="dateField11" type="xs:date"/>
  <xs:element name="dateField12" type="xs:date"/>
  <xs:element name="dateField13" type="xs:date"/>
  <xs:element name="dateField14" type="xs:date"/>
  <xs:element name="dateField15" type="xs:date"/>
  <xs:element name="dateField16" type="xs:date"/>
  <xs:element name="dateField17" type="xs:date"/>
  <xs:element name="dateField18" type="xs:date"/>
  <xs:element name="dateField19" type="xs:date"/>
  <xs:element name="dateField20" type="xs:date"/>

  <xs:element name="integerField1" type="xs:integer"/>
  <xs:element name="integerField2" type="xs:integer"/>
  <xs:element name="integerField3" type="xs:integer"/>
  <xs:element name="integerField4" type="xs:integer"/>
  <xs:element name="integerField5" type="xs:integer"/>
  <xs:element name="integerField6" type="xs:integer"/>
  <xs:element name="integerField7" type="xs:integer"/>
  <xs:element name="integerField8" type="xs:integer"/>
  <xs:element name="integerField9" type="xs:integer"/>
  <xs:element name="integerField10" type="xs:integer"/>

  <xs:element name="booleanField1" type="xs:boolean"/>
  <xs:element name="booleanField2" type="xs:boolean"/>
  <xs:element name="booleanField3" type="xs:boolean"/>
  <xs:element name="booleanField4" type="xs:boolean"/>
  <xs:element name="booleanField5" type="xs:boolean"/>
  <xs:element name="booleanField6" type="xs:boolean"/>
  <xs:element name="booleanField7" type="xs:boolean"/>
  <xs:element name="booleanField8" type="xs:boolean"/>
  <xs:element name="booleanField9" type="xs:boolean"/>
  <xs:element name="booleanField10" type="xs:boolean"/>

  <xs:element name="fileField1" type="nxs:content"/>
  <xs:element name="fileField2" type="nxs:content"/>
  <xs:element name="fileField3" type="nxs:content"/>
  <xs:element name="fileField4" type="nxs:content"/>
  <xs:element name="fileField5" type="nxs:content"/>
  <xs:element name="fileField6" type="nxs:content"/>
  <xs:element name="fileField7" type="nxs:content"/>
  <xs:element name="fileField8" type="nxs:content"/>
  <xs:element name="fileField9" type="nxs:content"/>
  <xs:element name="fileField10" type="nxs:content"/>

  <xs:element name="systemField1" type="xs:string"/>
  <xs:element name="systemField2" type="xs:string"/>
  <xs:element name="systemField3" type="xs:string"/>
  <xs:element name="systemField4" type="xs:string"/>
  <xs:element name="systemField5" type="xs:string"/>
  <xs:element name="systemField6" type="xs:string"/>
  <xs:element name="systemField7" type="xs:string"/>
  <xs:element name="systemField8" type="xs:string"/>
  <xs:element name="systemField9" type="xs:string"/>
  <xs:element name="systemField10" type="xs:string"/>

  <xs:element name="documentField1">
    <xs:simpleType>
      <xs:restriction base="xs:string" ref:resolver="documentResolver" ref:store="path"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="documentField2">
    <xs:simpleType>
      <xs:restriction base="xs:string" ref:resolver="documentResolver" ref:store="path"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="documentField3">
    <xs:simpleType>
      <xs:restriction base="xs:string" ref:resolver="documentResolver" ref:store="path"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="documentField4">
    <xs:simpleType>
      <xs:restriction base="xs:string" ref:resolver="documentResolver" ref:store="path"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="documentField5">
    <xs:simpleType>
      <xs:restriction base="xs:string" ref:resolver="documentResolver" ref:store="path"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="documentField6">
    <xs:simpleType>
      <xs:restriction base="xs:string" ref:resolver="documentResolver" ref:store="path"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="documentField7">
    <xs:simpleType>
      <xs:restriction base="xs:string" ref:resolver="documentResolver" ref:store="path"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="documentField8">
    <xs:simpleType>
      <xs:restriction base="xs:string" ref:resolver="documentResolver" ref:store="path"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="documentField9">
    <xs:simpleType>
      <xs:restriction base="xs:string" ref:resolver="documentResolver" ref:store="path"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="documentField10">
    <xs:simpleType>
      <xs:restriction base="xs:string" ref:resolver="documentResolver" ref:store="path"/>
    </xs:simpleType>
  </xs:element>

</xs:schema>
